/**
* Accordeon
*/

.accordeon {
    display: flex;
    gap: 10px;
}

details {
    position: relative;
    transition: 1s ease;
}

details[open] {
 margin-right: 175px;
}

details[open] div {
    position: absolute;
    left: 130px;
    top: 0;
    width: 175px;
}